// Если спецпроект интегрирован в сайт, из media queries обычно хватает только двух: mobile и not_mobile
@import 'mq'

@import 'functions'
@import 'keyframes'

// base.styl подключается только в том случае, когда спецпроект расположен на отдельной странице
@import 'base'
@import 'animations'

@import '~perfect-scrollbar/css/perfect-scrollbar.css'

$colors = {}


.container
    width 100%
    max-width 1090px
    margin 0 auto
    padding 0 15px

.VKMusic
    position relative
    min-height 420px
    padding-bottom 10px
    margin-bottom 100px
    font-size 16px
    border 3px solid #6185C2
    border-radius 10px
    
    &--result
        padding-bottom 0
        border-color #333
        
    @media $mq.iphone6
        min-height 520px
    
    @media $mq.not_mobile
        min-height 600px
        padding-bottom 0
        margin-bottom 0
        font-size 18px

    &-wrapper
        position relative
        min-height 100vh
        padding 24px 0 15px
        overflow hidden
        
        @media $mq.desktop
            padding 123px 0 75px

        &__grid
            position absolute
            top -10px
            left -10px
            width calc(100% + 20px)
            height calc(100% + 20px)
            background-color #000
            background-size 50px 50px, 106px 50px, 106px 50px
            background-image linear-gradient(#191919 2px, transparent 2px),
                             linear-gradient(90deg, #191919 2px, transparent 2px),
                             linear-gradient(90deg, #191919 1px, transparent 1px)
            background-position 0 34px, 25px 0, 78px 0
            
            filter blur(0)
            -webkit-filter blur(0)
            transform translate3d(0,0,0)
            -webkit-transform translate3d(0,0,0)
            transition filter .1s linear
            
            will-change filter
            
            .is-blurred &
                filter blur(3px)
                -webkit-filter blur(3px)
                transition filter .3s linear
                
            // @media (min-width 1090px)
            @media $mq.tablet, (min-width 1340px)
                background-position 0 34px, calc(50% - 53px) 0, center 0

            @media (min-width 1025px) and (max-width 1339px)
                background-position 0 34px, calc(50% - 33px) 0, calc(50% + 20px) 0

    &-container
        padding 0 15px
        
        @media $mq.not_mobile
            padding 0
            
        @media $mq.desktop
            padding 0 15px
        
        @media (min-width 1055px)
            padding 0
        
    &-logo
        position: absolute;
        z-index 1
        top: 13px;
        right 10px
        color: #fff;
        
        @media $mq.not_mobile
            right 51px

        @media $mq.desktop
            top: 60px

    &-icons
        position absolute
        top 50px
        bottom 0
        left 0
        overflow hidden
        
        filter blur(0)
        -webkit-filter blur(0)
        transform translate3d(0,0,0)
        -webkit-transform translate3d(0,0,0)
        transition filter .1s linear
        
        will-change filter
        
        .is-blurred &
            filter blur(2px)
            -webkit-filter blur(2px)
            transition filter .3s linear
            
        @media $mq.iphone5
            display none
        
        @media $mq.not_mobile
            left 26px
        
        &__item
            width 50px
            height 50px
            padding-top 6px
            padding-left 7px
            color #404040
            
    &-slider
        position absolute
        top 36px
        bottom 0
        left 10px
        right 10px

        @media $mq.not_mobile
            left 104px
            right 210px
        
        &__line
            position absolute
            top 0
            left 95.5%
            height 100%
            width 2px
            background-color #E5E5E5
            opacity .5

            filter blur(0)
            -webkit-filter blur(0)
            transform translate3d(0,0,0)
            -webkit-transform translate3d(0,0,0)
            transition filter .1s linear
            
            will-change filter
            
            .is-blurred &
                filter blur(2px)
                -webkit-filter blur(2px)
                transition filter .3s linear
            
            &::before
                content ''
                position absolute
                top 0
                left -3px
                width 8px
                height 10px
                background-color #E5E5E5
                
            &::after
                content ''
                position absolute
                top 10px
                left -3px
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 4px 0 4px;
                border-color: #E5E5E5 transparent transparent transparent;

    &-enter
        position relative
        z-index 1
        max-width 100%
        padding-top 52px
        padding-left 26px
        padding-right 10px
        
        @media $mq.iphone6
            max-width 506px
            padding-left 52px

        @media $mq.not_mobile
            padding 0
            margin-top 105px
            margin-left 104px
        
        &__title
            color #fff
            font-size 26px
            font-weight 700
            line-height 1.2em
            
            @media $mq.iphone6
                font-size 32px
            
            @media $mq.not_mobile
                font-size 36px
            
        &__subtitle
            margin-top 4px
            font-size 15px
            line-height 1.3em
            color #919191
            
            @media $mq.iphone6
                font-size 16px
                line-height 1.5em
            
            @media $mq.not_mobile
                margin-top 13px
                font-size 18px
            
        &__desc
            margin-top 12px
            color #fff
            font-size 14px
            line-height: 1.3em;

            b
                font-weight 700
                
            p:not(:last-child)
                margin-bottom .556em
            
            @media $mq.iphone6
                font-size 16px
                line-height 1.5em

            @media $mq.not_mobile
                margin-top 22px
                font-size 18px
                line-height 1.7em

        &__start-btn
            position relative
            height 42px
            padding 0 51px 0 46px
            margin-top 12px
            font-weight 700
            border-radius 100px
            background-color #fff
            transition color .2s, background-color .2s

            & svg
                position absolute
                top 0
                bottom 0
                right 19px
                margin auto 0
            
            &:hover
                color #fff
                background-color #404040
                
            @media $mq.iphone6
                height 52px
                margin-top 20px

    &-art
        position absolute
        top 49px
        bottom 0
        left 105px
        right 0
        opacity .5
        overflow hidden

        filter blur(0)
        -webkit-filter blur(0)
        transform translate3d(0,0,0)
        -webkit-transform translate3d(0,0,0)
        transition filter .1s linear
        
        will-change filter
        
        &--question
            opacity .25
            
        .is-blurred &
            filter blur(6px)
            -webkit-filter blur(6px)
            transition filter .3s linear
        
        &__line
            position absolute
            left 0
            right 0
            height 52px
        
            &[data-color="green"]
                background-color #48FF91
            
            &[data-color="red"]
                background-color #FF3333
                
            &[data-color="blue"]
                background-color #6185C2
            
            &[data-color="purple"]
                background-color #7B009A
            
            for n in (1..13)
                &[data-x=\"{n}\"]
                    left (53px * n)
                    
            for n in (1..10)
                &[data-y=\"{n}\"]
                    top (50px * n)
                
            for n in (1..17)
                &[data-size=\"{n}\"]
                    width (53px * n)
            
            &[data-odd="true"]
                background-color transparent
        
        &__line-ceil
            position absolute
            top 0
            left 0
            width 53px
            height 52px

            [data-color="green"] &
                background-color #48FF91
            
            [data-color="red"] &
                background-color #FF3333
                
            [data-color="blue"] &
                background-color #6185C2
            
            [data-color="purple"] &
                background-color #7B009A
            
            for n in (1..13)
                &[data-x=\"{n}\"]
                    left (53px * n)
    
    &-dots
        position absolute
        top 21px
        left 26px
        display flex
        align-items center
        
        @media $mq.iphone6
            left 52px
        
        @media $mq.not_mobile
            left 104px
        
        &__title
            margin-right 5px
            color #727272
            font-size 14px
            font-weight 700
            text-transform uppercase
            
            @media $mq.iphone6
                margin-right 7px
            
        &__list
            display flex
            align-items center
            
        &__item
            width 8px
            height 8px
            margin-right 3px
            border 2px solid  #727272
            border-radius 100%
            
            &.is-filled
                background-color #727272
            
            &.is-active
                border-color #C4C4C4
                background-color #C4C4C4
                
            @media $mq.iphone6
                width 10px
                height 10px
                margin-right 5px

    &-back
        position absolute
        top 0
        bottom 0
        left 0
        right 0

    &-question
        position absolute
        top 50px
        bottom 0
        left 26px
        z-index 1
        width calc(100% - 36px)
        
        @media $mq.iphone6
            left 52px
            width calc(100% - 62px)
            max-width 480px

        @media $mq.not_mobile
            // left 104px
            left 130px
            width 480px
            max-width none

        &__text
            display flex
            align-items flex-end
            color #fff
            font-size 14px
            line-height 1.3em
            
            @media $mq.iphone6
                font-size 16px
                line-height 1.5em

            @media $mq.not_mobile
                height 138px
                margin-top 0
                font-size 18px
                line-height 1.75em
                transform translate3d(0,0,0)
                transition margin-top .1s

                &--a
                    margin-top -26px
                    transition margin-top .3s
            
        &__audio
            margin-top 20px
        
        &__options
            display flex
            flex-wrap wrap
            align-items center
            margin -10px 0 0 -10px
            padding-top 24px

            @media $mq.iphone6
                margin -20px 0 0 -20px

            @media $mq.not_mobile
                margin -25px 0 0 -25px
                padding-top 43px

        &__options-item
            padding 10px 0 0 10px
            
            @media $mq.iphone6
                padding 20px 0 0 20px
            
            @media $mq.not_mobile
                padding 25px 0 0 25px
        
        &__option
            min-width 207px
            height 42px
            color #fff
            font-weight 700
            text-align center
            border 3px solid  #fff
            background-color transparent

            @media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0)
                transition color .2s, background-color .2s
                &:hover
                    color #000
                    background-color #fff

            @media $mq.iphone6
                min-width 227px
                height 52px
            
        &__user-answer
            margin-top 36px
            color #FF3333
            font-size 24px
            font-weight 900
            
            &--correct
                color #1FFF6B
            
            @media $mq.iphone6
             margin-top 66px

        &__answer
            margin-top 9px
            color #fff
            line-height 1.3em
            
            @media $mq.iphone6
                font-size 18px
                line-height 1.5em
            
            @media $mq.not_mobile
                font-size 20px
                line-height 1.75em
            
        &__next-btn
            position relative
            display inline-block
            margin-top 30px
            padding-right 24px
            color #fff
            font-size 24px
            font-weight 700
            cursor pointer
            transition color .2s

            & svg
                position absolute
                top 2px
                right 0
            
            &:hover
                color #727272

            @media $mq.not_mobile
                position absolute
                bottom 115px
                margin-top 0

    &-comment
        position absolute
        z-index 1
        top calc(100% + 30px)

        @media $mq.not_mobile
            top auto
            bottom 33px
            right 265px
            
        @media $mq.desktop
            right 295px
        
        &__avatar
            width 80px
            height 80px
            border 3px solid #6185C2
            border-radius 100%
            background-size cover
            cursor pointer
            
            &::after
                content '1'
                position absolute
                top -4px
                right -4px
                width 30px
                height 30px
                overflow hidden
                color #fff
                line-height 30px
                text-align center
                border-radius 100%
                background-color #FF3333
                transform scale(0)
                transition transform .2s
                
                .is-closed &
                    transform scale(1)

        &__name
            position absolute
            top 14px
            left 100%
            margin-left 18px
            color #fff
            font-weight 700
            line-height 1.5em
        
        &__popover
            position absolute
            left 48px
            bottom 100%
            width 225px
            margin-bottom 15px
            padding 13px 7px 20px 17px
            border-radius 20px
            background-color #5181B8
            user-select none
            
            &::after
                content ''
                position absolute
                top 100%
                top calc(100% - 1px)
                left 26px
                width 0
                height 0
                border-style solid
                border-width 25px 30px 0 0
                border-color #5181B8 transparent transparent transparent
                
            .is-closed &
                display none
            
            @media $mq.iphone6
                width 285px
        
        &__text
            position relative
            max-height 300px
            overflow auto
            padding-right 20px
            color #fff
            line-height 1.6em
            
            & p:not(:last-child)
                margin-bottom 1.3em
        
        &__close
            position absolute
            top -28px
            right 0
            width 19px
            height 19px
            transform rotate(45deg)
            cursor pointer
            opacity .5
            transition opacity .2s
            
            &::before, &::after
                content ''
                position absolute
                top 0
                bottom 0
                left 0
                right 0
                margin auto
                border-radius 10px
                background-color #9AC0FF
            
            &::before
                width 100%
                height 3px
            
            &::after
                width 3px
                height 100%
                
            &:hover
                opacity 1


    &-audio
        display flex
        align-items center
        
        &__btn
            position relative
            width 35px
            height 35px
            margin-right 18px
            border-radius 100%
            background-color #fff
            cursor pointer
            transition opacity .2s
            
            &::after
                content ''
                position absolute
                top 2px
                bottom 0
                left 3px
                right 0
                margin auto
                width 12px
                height 15px
                background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAdCAYAAACwuqxLAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADSSURBVHgBtZVhDcIwEIXfUICESUDCJCBhDsDBwAEOKqUWcFAJ4ODohTZpCFvX3t2XfFv2517vbkkB4BJ9RSkaojOUycVLXXSEErQid3OFAlSRg0YIoJ0u6IQa5G7OaIQ6dGgYG3XK3cyWAVlf64aUXKwD8thOlgF/fwIyMnA3Q/qw4m0dgANsufPDav5TTtEu/ogeyza0Cvvy1JoBfCNuXkzSU4+o0Hvq3feCeIlaAQErS5QG8DhuECBeYk9A9ddrwf8Ud2hc4hZDek/4juKZVOMD/hZW4hfNJ7wAAAAASUVORK5CYII=')
                background-size cover
            
            &--pause::after
                top 0
                left 0
                width 11px
                height 14px
                background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAdCAYAAACuc5z4AAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB5SURBVHgB7ZbRCYAwDERbJ+gIbqAjOIqb1hF0Ah2hG9RrCCjSRCgIfuTgfZTeve94d2UCIxhAAhtYwOH0SDvKDHKFHQRFqu0oUShkHksRd537KCY2sYlNbGITm/jv4qR0Wv8o5UQq18vz8IitO38rBS72/F6Zt1R3J/ZzNA3uo2PVAAAAAElFTkSuQmCC')

            &:hover
                opacity .8
        
        &__path
            position relative
            width 58%
            max-width 320px
            height 6px
            border-radius 10px
            background-color #696969
        
        &__path-progress
            position absolute
            top 0
            left 0
            width 0
            height 6px
            border-radius 10px
            background-color #fff
            // transition width .5s linear
            
        &__time
            margin-left 11px
            color #696969
            font-size 12px
    
    &-result
        
        &__head
            position relative
            min-height 285px
            padding 16px 20px 0 26px
            background-color #333333
            overflow hidden
            
            @media $mq.iphone6
                min-height 335px
                padding-top 26px
                padding-left 52px

            @media $mq.not_mobile
                min-height 375px
                padding-top 52px
                padding-left 124px

            @media $mq.desktop
                padding-left 248px

        &__img
            position absolute
            left 60%
            
            @media $mq.desktop
                left auto
            
            &--1
                top 25px
                
                @media $mq.desktop
                    right 88px
            
            &--2
                top 54px
                
                @media $mq.desktop
                    right 248px
                
            &--3
                top: 85px;

                @media $mq.desktop
                    right: 136px;
                
            &--4
                top: 54px;

                @media $mq.desktop
                    right: 88px;
        
        &__result
            position relative
            z-index 1
            color #999999
            
        &__title
            position relative
            z-index 1
            margin-top 22px
            font-size 28px
            font-weight 700
            color #fff
            
            @media $mq.not_mobile
                margin-top 25px
                font-size 36px
            
        &__subtitle
            position relative
            z-index 1
            min-height 32px
            margin-top 11px
            color #fff
            
            @media $mq.not_mobile
                min-height 36px
            
        &__share
            position relative
            z-index 1
            margin-top 18px
            // margin-top 50px
                
            @media $mq.iphone6
                margin-top 32px
            
        &__restart-btn
            position relative
            z-index 1
            display inline-block
            margin-top 30px
            padding-right 24px
            color #999
            cursor pointer
            transition color .2s
            
            & svg
                position absolute
                top 2px
                bottom 0
                right 0
            
            &:hover
                color darken(#999, 20)
                
            @media $mq.iphone6
                margin-top 42px
        
        &__bottom
            display flex
            justify-content center
            align-items flex-start
            min-height 129px
            padding-top 16px
            background-color #000
            
            @media $mq.iphone6
                min-height 179px
                padding-top 26px
            
            @media $mq.not_mobile
                min-height 225px
                padding-top 52px
    
    &-subscribe
        display flex
        flex-direction column
        align-items center

        &__title
            position relative
            margin-bottom 9px
            color #fff
            font-weight 700
            line-height 1.5em
            text-align center
            
            @media $mq.iphone6
                margin-bottom 19px
            
        &__icon
            position absolute
            top 12px
            left -50px
            
            &--vk
                color #5181B8
                
            &--tj
                color #E8A427
        
        &__btn
            display block
            min-width 150px
            height 35px
            overflow hidden
            color #fff
            font-size 14px
            font-weight 700
            text-align center
            border-radius 100px
            background-color currentColor
            transition background-color .2s
            
            &--vk
                background-color #5181B8
                
                &:hover
                    background-color darken(#5181B8, 20)
            
            &--tj
                background-color #E8A427
                
                &:hover
                    background-color darken(#E8A427, 20)
                    
            @media $mq.iphone6
                min-width 180px
                height 45px

    .likely

        &__widget
            min-width 60px
            height 50px
            color #999
            border 2px solid  #999
            background-color #333

            &:not(:last-child)
                margin-right 10px
            
            &:hover
                color #333
                background-color #999

            &--vkontakte
                
                @media $mq.not_mobile
                    padding: 0 15px 0 10px
        
        &__button--vkontakte
            display none
            
            @media $mq.not_mobile
                display block

        &__icon
            background-color transparent

            svg
                width: 24px
                height: @width

            &--vkontakte

                svg
                    width: 28px
                    height: @width

                @media $mq.not_mobile
                    margin-right 6px
                    
    .ps__rail-y
        opacity 1